# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
# Server Uploads
server/uploads/
server/check_db.js
server/check_manali_bikes.js
server/clear_packages.js
server/post_bike_simulator.js
tmp_cleanup.js

# Env
.env
server/.env
